$gradient: linear-gradient(to right, hsl(6, 100%, 80%), hsl(335, 100%, 65%));
$paleBlue: hsl(243, 100%, 93%);
$grayishBlue: hsl(229, 7%, 55%);
$darkBlue: hsl(228, 56%, 26%);
$veryDarkBlue: hsl(229, 57%, 11%);
$fontStack: 'Raleway', sans-serif;

// Reset
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@function text-color($color) {
  @if(lightness($color) < 50) {
    @return #fefefe;
  } @else {
    @return #010101;
  }
}

%flex {
  display: flex;
  align-items: center;
}

@mixin flexColumn {
  @extend %flex;
  flex-direction: column;
  justify-content: center;
}

@mixin flexCenter {
  @extend %flex;
  justify-content: center;
}


@mixin mq($size) {
  @media only screen and (min-width: $size) {
    @content;
  }
}