.container {
  width: 85vw;
  height: 100%;
  margin: 0 auto;
  @include flexColumn;

  @include mq(1000px) {
    width: 60vw;
    flex-direction: row;
  }
}

.uppercase {
  text-transform: uppercase;
}

.bold {
  font-weight: 700;
}

.large {
  font-size: 3rem;
}
